.regist{
    margin-top: -200px;
    padding-bottom: 3rem;
}
.login{
     margin-top: -300px; 
     margin-bottom: 105px;
    padding-bottom: 3rem; 
}

.musthead{
    padding: 11rem 0;
  background: linear-gradient(to top, rgb(8, 10, 41) 0%, rgb(8, 10, 41,0.75) 100%), url("https://github.com/aderohmatmaulana98/pusdiklat/blob/main/uty.jpg?raw=true");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.divider2{
    border: 1.5px solid rgba(41, 129, 245);
}

.text-registration{
    font-size: 25px;
}

.card-regis{
    border-radius: 1%;
}
.card-login{
    border-radius: 10px;

}

.btn-regis{
    background-color: rgb(12, 28, 177);
    color: white;
}

.disable-select {
    visibility: hidden;
}

.btn-regis:hover{
    background-color: rgba(41, 129, 245);
    color: white;

}

.about
{
    -moz-box-shadow:0 10px 10px rgb(15, 18, 63);
-webkit-box-shadow: 0 10px 10px rgb(15, 18, 63);
box-shadow: 0 10px 10px rgb(15, 18, 63);
}

.shadow2
{
    box-shadow: 0 0.5rem 1rem rgba(41, 129, 245, 0.6) !important;
}
